

/*
|--------------------------------------------------------------------------
| Start loader custom style
|--------------------------------------------------------------------------
*/
body>.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000002e;
    z-index: 9999;
    height: 100vh;
}
  
body>.loader-wrapper>svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  


/*
|--------------------------------------------------------------------------
| Jquary validation error
|--------------------------------------------------------------------------
*/
.text-danger.custom {
    width: 100% !important;
    display: block !important;
    margin: 0 !important;
    font-weight: 500 !important;
}
